<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
</head>
<body>
    <h1><%=titulo%></h1>
    
    <span>Nome:</span>
    <p><%=nome%></p>

    <span>Email:</span>
    <p><%=email%></p>

    <span>Senha:</span>
    <p><%=senha%></p>

    <span>Turma:</span>
    <p><%=turma%></p>
    
</body>
</html>